*{
padding: 0px;
margin: 0px;
}
body{
    background-color: rgb(255, 255, 255);
}
#seccion1{
    background-image: url(../assets/img/banner-bk.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: white;
    
}
#superior{
   display: flex;
   justify-content: space-between;
   padding: 30px 100px 0px 100px;
   align-items: center;
}
#logo{
    justify-content: flex-start;
}
#texto{
     justify-content: flex-end;
     
}
#banner-bk{
    width: 150px;

}
#texto1{
    padding:30px 0px 0px 100px ;
    font-size: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#texto22{
    padding:30px 0px 0px 100px ;
    width: 950px;
    font-size: 20px;
}
#boton1{
    margin: 20px 0px 0px 100px;
    background-color: #00FFAD;
    height: 50px;
    width: 150px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 35px;
}
/*seccion 2 de la pagina*/
#seccion2{
text-align: center;   
justify-content: center; 
padding: 100px 90px 100px 90px;
}
#sup-1{
    display: flex;
    text-align: center;   
    justify-content: center; 
    justify-content: space-around;
}
#sup-2{
    display: flex;
    text-align: center;   
    justify-content: center; 
    justify-content: space-around;
    font-style:inherit;
    font-size: 30px;
}
#sup-3{
    display: flex;
    text-align: center;   
    justify-content: center;
    justify-content: space-around; 
}
#texto4{
    margin: 0px 0px 100px 0px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*parte 3 de pagina*/

#seccion3-1{
    display: flex;
    justify-content: center;
    align-items: center;

}
#texto3-1{
    font-size: 70px;

}
#texto3-2{
    font-size:15px;

}
#boton3-1{
    color: white;
    margin: 20px 0px 0px 0px;
    background-color: #192440;
    height: 50px;
    width: 150px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 35px;
}
#seccion3-2{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*seccion 4*/
#seccion4-1{
    margin: 50px 10px 50px 10px ;
    display: flex;
    list-style: none;
    justify-content: center;
    
}
#carta1-4{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 450px;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#carta2-4{
    color: white;
    background-color: #192440;
    width: 400px;
    height: 450px;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#carta3-4{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 450px;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#lista1{
    list-style: none;
}
#conten-list{
    font-size: 24px;
    margin: 9px 0px 9px 0px;
}
#boton-carta-1{
    border-color: #192440;
    height: 50px;
    width: 150px;
    border-radius: 35px;
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    color: #192440;
}
#boton-carta-2{
    background-color: #00FFAD;
    height: 50px;
    width: 150px;
    border-radius: 35px;
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    color: #192440;
}
#title-card{
    padding-bottom: 20px;
}
#monto-1{
    color: #292B2C;
    font-size: 40px;
}
font{
    font-size: 60px;
}
/* seccion 5 */
#seccion5{
    display: flex;
    justify-content: space-evenly;
    padding: 5vh;
    background-color: #ECEEEF;
}
/* seccion 6 */
#seccion6{
    background-image: url(../assets/img/contact-bk.jpg);
    background-size: cover;
    padding: 20vh;
    display: flex;
    justify-content: center;
}
#seccion5-1{
    color: #ffffff;
    margin: 0px 700px 0px 0px;
}
#seccion5-2{
color: #00FFAD;
}
#tit{
    font-size: 45px;
}
#seccion5-1{
    font-size: 25px;
    padding: 10px;
}
#texto5-1{
    margin: 10px 0px 0px 0px;
}
#texto5-2{
    margin: 35px 0px 0px 0px;
}
#texto-box-1{
    margin: 20px 20px 20px 20x;
}
form {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0px #00f7a4;
    max-width: 400px;
    width: 15%;
    position: relative;
    top: -4px;
    left: -600px;
  }
.Message{
    color: #00f7a4;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

.form-group {
    width: 69%;
    margin-right: 100%; 
  }

.form-group:last-child {
    margin-right: 9px; 
  }

.form-input {
    padding: 0px 190px 50px 0px;
    border: 2px solid #00f7a4;
    border-radius: 4px;
    width: 100%;
    font-size: 1px;
    background-color: transparent;
    color: #00f7a4;
}
.form-group1{
    margin: 4000px 0px 0px 0px;
    margin-top: -50px;
}
.form-input1{
    padding: 100px 570px 0px 0px;
    border: 2px solid #00f7a4;
   
    background-color: transparent;
    color: #00f7a4;
}
.submit-button{
    padding: 10px 350px;
    border: none;
    cursor: pointer;
    justify-content: center;
    border-radius: 90px;
    border: 2px solid #00f7a4;
    background-color: #00f7a4;
}
footer{
    color: #ffffff;
    background-color: #192440;
    margin: 0px 0px 20px 0px;
    padding: 90px 20px 0px 0px;
    display: flex;
    justify-content: space-between;  
}
#texto-footer{
    padding: 0px 0px 20px 80px;
    margin: 0px 20px 30px 0px;
}
#icon-1{
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
@media screen and (max-width: 921px ) {
    body {
    background-color: rgb(255, 255, 255);
    }
    /* seccion 1 de la pagina */
    #texto22{
        padding:30px 0px 0px 90px ;
        width: 700px;
        font-size: 20px;
    }
    #texto1{
        padding:30px 0px 0px 100px ;
        font-size: 70px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    /* seccion 2 */
    /* seccion 3 */
    /* seccion 4 */
    /* seccion 5 */
    /* seccion 6 */
    #seccion6{
        background-image: url(../assets/img/banner-bk.jpg);
        background-size: cover;
        padding: 17vh;
        /* padding-left: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        width:190px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 0px;
        background-color: #ffffff00;
    }
    #input3{
        width:190px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 40px;
        background-color: #ffffff00;
    }
    #input2{
        margin: 10px 0px 0px 10px;
        border-color:#00FFAD;
        border-radius: 10px;
        background-color: #ffffff00;
        height: 100px;
        width: 425px;
    }
    #texto6-1{
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
    /* footer */
    footer{
        padding: 30px 8px 10px 8px;
    }
    #icon-1{
        
    }


}    
/* ajustar  */
@media screen and (max-width: 769px ) {
    body {
    background-color: rgb(255, 255, 255);
    }
    /* seccion 1 de la pagina */
    #texto22{
        padding:30px 0px 0px 90px ;
        width: 600px;
        font-size: 15px;
    }
    #texto1{
        padding:30px 0px 0px 100px ;
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    /* seccion 2 */
    /* seccion 3 */
    #fotos-pc{
        width: 350px;
        margin: 40px;
    }
    #texto3-1{
        font-size: 25px;
    }
    #texto3-2{
        font-size: 20px;
        width: 200px;
    }
    /* seccion 4 */
    /* seccion 5 */
    #fotos-cadena{
        width: 100px;
    }
    /* seccion 6 */
    #seccion6{
        background-image: url(../assets/img/banner-bk.jpg);
        background-size: cover;
        padding: 17vh;
        /* padding-left: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        width:117px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 0px;
        background-color: #ffffff00;
    }
    #input3{
        width:117px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 40px;
        background-color: #ffffff00;
    }
    #input2{
        margin: 10px 0px 0px 10px;
        border-color:#00FFAD;
        border-radius: 10px;
        background-color: #ffffff00;
        height: 100px;
        width: 280px;
    }
    #texto6-1{
        font-size: 20px;
        margin: 20px 0px 20px 0px;
        width: 200px;
    }
    #texto6-1{
        font-size: 15px;
        margin: 20px 0px 20px 0px;
    }
    #texto6-2{
        font-size: 25px;
        margin: 20px 20px 20px 0px;
        justify-content: left;
    }
    /* footer */
    footer{
        padding: 30px 10px 10px 10px;
    }
    #icon-1{
        
    }

}    
/* ajustar */
@media screen and (max-width: 769px ) {
    body {
    background-color: rgb(255, 255, 255);
    }
    /* seccion 1 de la pagina */
    #texto22{
        padding:30px 0px 0px 90px ;
        width: 600px;
        font-size: 15px;
    }
    #texto1{
        padding:30px 0px 0px 100px ;
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    /* seccion 2 */
    /* seccion 3 */
    #fotos-pc{
        width: 350px;
        margin: 40px;
    }
    #texto3-1{
        font-size: 25px;
    }
    #texto3-2{
        font-size: 20px;
        width: 200px;
    }
    /* seccion 4 */
    /* seccion 5 */
    #fotos-cadena{
        width: 100px;
    }
    /* seccion 6 */
    #seccion6{
        background-image: url(../assets/img/banner-bk.jpg);
        background-size: cover;
        padding: 17vh;
        /* padding-left: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        width:117px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 0px;
        background-color: #ffffff00;
    }
    #input3{
        width:117px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 40px;
        background-color: #ffffff00;
    }
    #input2{
        margin: 10px 0px 0px 10px;
        border-color:#00FFAD;
        border-radius: 10px;
        background-color: #ffffff00;
        height: 100px;
        width: 280px;
    }
    #texto6-1{
        font-size: 20px;
        margin: 20px 0px 20px 0px;
        width: 200px;
    }
    #texto6-1{
        font-size: 15px;
        margin: 20px 0px 20px 0px;
    }
    #texto6-2{
        font-size: 25px;
        margin: 20px 20px 20px 0px;
        justify-content: left;
    }
    /* footer */
    footer{
        padding: 30px 10px 10px 10px;
    }
    #icon-1{
        
    }

}  
/* ajustar  */
@media screen and (max-width: 481px ) {
    body {
    background-color: rgb(255, 255, 255);
    }
    /* seccion 1 de la pagina */
    #texto22{
        padding:30px 0px 0px 60px ;
        width: 380px;
        font-size: 20px;
    }
    #texto1{
        padding:30px 0px 0px 60px ;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    #boton1{
        margin: 50 90px 0px 0px;
    }
    /* seccion 2 */
    #seccion2{
        padding: 20vh 5px 20vh 5px;
    }
    #sup-1{
        padding: 0px;
    }
    #icon1{
        width: 100px;
        padding: 10px 10px 10px 10px;
        
    }
    #icon2{
        width: 100px;
        padding: 10px 10px 10px 10px;
        
    }
    #icon3{
        width: 100px;
        padding: 10px 10px 10px 10px;
        
    }
    #B-I1{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I2{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I3{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I4{
        font-size: 15px;
       
    }
    #B-I5{
        font-size: 15px;
        
    }
    #B-I6{
        font-size: 15px;
        
    }
    
    /* seccion 3 */
    #seccion3{
        padding: 0px;
    }
    #fotos-pc{
        width: 210px;
        margin: 20px;
    }
    #texto3-1{
        font-size: 16px;
    }
    #texto3-2{
        font-size: 11px;
        width: 200px;
    }
    #boton1{
        width: 90px;
        height: 30px;
    }
    /* seccion 4 */
    #conten-list{
        font-size: 12px;
    }
    /* seccion 5 */
    #carta1-4{
        width: 140px;
        height: 350px;
    }
    #carta2-4{
        width: 140px;
        height: 350px;
    }
    #carta3-4{
        width: 140px;
        height: 350px;
    }

    #fotos-cadena{
        width: 55px;
    }
    #conten-list{
        width: 150px;
    }
    #boton-carta-1{
        width: 110px;
        height: 40px;
        border-width: 2px;
    }
    #boton-carta-2{
        width: 110px;
        height: 40px;
        border-width: 2px; 
    }
    /* seccion 6 */
    #seccion6{
        background-image: url(../assets/img/banner-bk.jpg);
        background-size: cover;
        padding: 15vh;
        flex-direction: column;
    }
    #seccion6-1{
        width: 350px;
        margin: 0px;
        padding: 0px;
    }
    #seccion6-2{
        width: 350px;
        margin: 0px;
        padding: 0px;
    }
    input{
        width:128px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 0px;
        background-color: #ffffff00;
    }
    #input3{
        width:128px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 40px;
        background-color: #ffffff00;
    }
    #input2{
        margin: 10px 0px 0px 10px;
        border-color:#00FFAD;
        border-radius: 10px;
        background-color: #ffffff00;
        height: 90px;
        width: 300px;
    }
    #texto6-1{
        font-size: 25px;
        margin: 20px 0px 20px 0px;
        width: 900px;
    }
    #texto6-1{
        font-size: 15px;
        margin: 20px 0px 20px 0px;
        width: 350px;
        
    }
    #texto6-2{
        font-size: 25px;
        margin: 20px 0px 20px 0px;
        justify-content: left;
    }
    #cajas{
        width: 100px;
    }
    #text-box-2{
        width: 100px;
    }
    /* footer */
    footer{
        padding: 30px 10px 10px 10px;
        font-size: 10px;
    }
    #icon-1{
        width: 20px;
        height: 20px;
        
    }

}  
/* ajustar  */
@media screen and (max-width: 352px ) {
    body {
    background-color: rgb(255, 255, 255);
    }
    /* seccion 1 de la pagina */
    #seccion1{
        height: 40vh;
    }
   #superior{
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
   }
    #texto22{
        padding:30px 0px 0px 50px ;
        width: 280px;
        font-size: 13px;
    }
    #texto1{
        padding:30px 0px 0px 50px ;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    #boton1{
        margin: 50 90px 0px 0px;
    }
    #banner-bk{
        width: 50px;

    }
    #texto-banner{
        font-size: 10px;
        
    }
    /* seccion 2 */
    #texto4{
        font-size: 30px;
    }
    #seccion2{
        padding: 20vh 5px 20vh 5px;
    }
    #sup-1{
        padding: 0px;
    }
    #icon1{
        width: 90px;
        padding: 10px 10px 10px 10px;
        
    }
    #icon2{
        width: 90px;
        padding: 10px 10px 10px 10px;
        
    }
    #icon3{
        width: 90px;
        padding: 10px 10px 10px 10px;
        
    }
   
    #B-I1{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I2{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I3{
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
    #B-I4{
        font-size: 15px;
       
    }
    #B-I5{
        font-size: 15px;
        
    }
    #B-I6{
        font-size: 15px;
        
    }
    
    /* seccion 3 */
    #seccion3{
        padding: 10px;
    }
    #boton3-1{
        width: 100px;
        height: 40px;
    }
    #fotos-pc{
        width: 140px;
        margin: 20px;
    }
    #texto3-1{
        font-size: 16px;
    }
    #texto3-2{
        font-size: 11px;
        width: 200px;
    }
    #boton1{
        width: 90px;
        height: 30px;
    }
   
    #texto3-2{
        font-size: 10px;
        width: 100px;
    }
    /* seccion 4 */
    #seccion4{
        width: 252px;
        margin-left: 50px;
        padding: 0px;
        flex-wrap: wrap;
        
    }
    #seccion4-1{
        width: 352;
        font-size: 9px;
        padding: 0px;
        margin: 20px 0px 20px 0px;
        flex-wrap: wrap;
       
    }
    #carta1-4{
        width: 150px;
        margin: 10px 20px 10px 20px;
        padding: 0px;
        height: 250px;
    }
    #carta2-4{
        width: 150px;
        margin: 10px 20px 10px 20px;
        padding: 0px;
        height: 250px;
    }
    #carta3-4{
        width: 150px;
        margin: 10px 20px 10px 20px;
        padding: 0px;
        height: 250px;
    }
    #title-card{
        font-size: 17px;
    }
    #conten-list{
        font-size: 9px;
        margin: 0px;
        padding: 0px;
        width: 10px;
        
    }
    #title-card{
        padding: 10px;
    }
    
    
    
/* seccion 5 */

    #fotos-cadena{
        width: 40px;
    }
    #conten-list{
        width: 140px;
    }
    #boton-carta-1{
        width: 110px;
        height: 40px;
        border-width: 2px;
    }
    #boton-carta-2{
        width: 110px;
        height: 40px;
        border-width: 2px; 
    }
    /* seccion 6 */
    #seccion6{
        background-image: url(../assets/img/banner-bk.jpg);
        background-size: cover;
        padding: 15vh;
        flex-direction: column;
    }
    #seccion6-1{
        width: 350px;
        margin: 0px;
        padding: 0px;
    }
    #seccion6-2{
        width: 350px;
        margin: 0px;
        padding: 0px;
    }
    input{
        width:128px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 0px;
        background-color: #ffffff00;
    }
    #input3{
        width:128px ;
        border-color:#00FFAD;
        border-radius: 10px;
        height: 50px;
        margin: 20px 0px 20px 40px;
        background-color: #ffffff00;
    }
    #input2{
        margin: 10px 0px 0px 10px;
        border-color:#00FFAD;
        border-radius: 10px;
        background-color: #ffffff00;
        height: 90px;
        width: 300px;
    }
    #texto6-1{
        font-size: 25px;
        margin: 20px 0px 20px 10px;
        width: 890px;
    }
    #texto6-1{
        font-size: 13px;
        margin: 20px 0px 20px 10px;
        width: 350px;
        
    }
    #texto6-2{
        font-size: 23px;
        margin: 20px 0px 20px 10px;
        justify-content: left;
    }
    #cajas{
        width: 100px;
    }
    #text-box-2{
        width: 100px;
    }
    /* footer */
    footer{
        padding: 30px 10px 10px 10px;
        font-size: 10px;
    }
    #icon-1{
        width: 20px;
        height: 20px;
        
    }

}